<head>

    <script src="../vendors/angularjs/angular.min.js"></script>
    <script src="../vendors/angularjs/angular-route.min.js"></script>
    <script src="../vendors/angularjs/angular-sanitize.min.js"></script>
    <script src="../vendors/angularjs/angular-cookies.min.js"></script>
    <script src="../js/services/Test.js"></script>
    <script src="../js/app.js"></script>
</head>

<body ng-app="mainApp">
    <div ng-controller="hassan">
        <ul>
            <li ng-repeat="person in persons">
                {{person.Name + ' : ' + person.Age}}
            </li>
        </ul>
    </div>
</body>
