<div class="modal fade" id="loadingModal" ng-controller="loginCtrl">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog" style="width:200px;">
        <div class="modal-content">

            <div class="modal-body" >
				<div align="center">
					<img src="images/spin/128x128/Preloader_8.gif" />
				</div>


            </div>

        </div>
    </div>
</div>
