<div class="modal fade" id="loginModal" ng-controller="loginCtrl">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                 <h4 class="modal-title">Login</h4>

            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label label-default="" for="loginFormUsername">User</label>
                    <input class="form-control" id="loginFormUsername"
                    placeholder="Email" type="text" ng-model="identityFormData.user">
                </div>
                <div class="form-group">
                    <label label-default="" for="loginFormProjectname">Project</label>
                    <input class="form-control" id="loginFormProjectname"
                    placeholder="Project Name" type="text" ng-model="identityFormData.project">
                </div>
                <div class="form-group">
                    <label label-default="" for="loginFormPassword">Password</label>
                    <input class="form-control" id="loginFormPassword"
                    placeholder="Password" type="password" ng-model="identityFormData.password">
                </div>
                
                <!--<p class="text-right"><a href="#">Forgot password?</a>
                </p>-->
            </div>
            <div class="modal-footer"> 
                <!--<a href="#" data-dismiss="modal" class="btn btn-default">Close</a>-->
                <button class="btn btn-lg btn-warning btn-block" id="loadingLoginButton"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading...</button>
                <div class="alert alert-danger text-center" role="alert" id="failedToLoginAlert"><b>Failed to login</b></b><br />{{ failReason }}</div>
                <a href="#" class="btn btn-lg btn-primary btn-block" id="loginButton" ng-click="loginAction()">Login</a>
            </div>
        </div>
    </div>
</div>
