<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand"><b>Status</b></a>
    </div>

    <div class="navbar-"></div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav">
        <li class="nav-divider"></li>
        <li><a>User : {{ profile.username }}</a></li>
        <li><a>Project Name : {{ profile.projectname }}</a></li>
      </ul>    
      <ul class="nav navbar-nav navbar-right">
		  <li><a ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
