<div class="modal fade" id="createImageModal" ng-controller="createImageCtrl">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                 <h4 class="modal-title">Upload Image</h4>

            </div>
			
            <div class="modal-body">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-20">
                            <input ng-model="name" type="text" value="" />
                        </div>

                    </div>
                    

                </form>
		
				<div class="modal-footer"> 
                <!--<a href="#" data-dismiss="modal" class="btn btn-default">Close</a>-->
                
                <a class="btn btn-lg btn-primary btn-block" id="loginButton" ng-click="doCreation()">Create</a>
            </div>
        </div>
    </div>
</div>
