<div class="modal fade" id="editImageModal" ng-controller="editImageCtrl">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h4 class="modal-title">Edit Image</h4>

            </div>

            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-20">
                            <input type="text"   ng-model="data.name" value="{{ data.name}}"/>
                        </div>

                    </div>
                    <fieldset class="form-group">
                        <label class="control-label col-sm-2">Visibility</label>
                        <select class="col-sm-20" ng-model="data.visibility">
                            <option ng-repeat="visibility in axioms.visibility" ng-selected="data.visibility == visibility">{{ visibility}}</option>
                        </select>  
                    </fieldset>
                    <fieldset class="form-group">
                        <label class="control-label col-sm-2">Protected</label>
                        <select class="col-sm-20" ng-model="data.protected">
                            <option ng-repeat="protect in axioms.protected" ng-selected="data.protected == protect">{{ protect }}</option>
                        </select>
                    </fieldset>

                </form>
								<input id="fileupload" type="file" name="files" size="0"  data-url="../server/index.php">
								<div id="progress">
									<div style="width: 100%; float: left"><p id="progress_text" style="text-align: center; width: 100%">0 %</p></div>
									<div class="bar" style="width: 0%;"></div>
								</div>
                <!-- <form action="../server/index.php" enctype="multipart/form-data" method="post" ng-if='image.status == "queued"'>
                    <input type="hidden" name="task" value="image" />
                    <input type="hidden" name="token" value="{{ getToken()}}" />
                    <input type="hidden" name="action" value="uploadImage" />

                    <input type="hidden" name="id" value="{{ data.id}}" />
                    <input type="hidden" name="file_name" value="cirros-0.3.4-x86_64-disk.img" />

                    <fieldset class="form-group">
                        <label class="control-label col-sm-2">Upload</label>
                        <input name="file" type="file"/>
                        <input type="submit" value="Upload"/>

                    </fieldset>
                </form> -->
                <div class="modal-footer"> 
                    <!--<a href="#" data-dismiss="modal" class="btn btn-default">Close</a>-->

                    <a class="btn btn-lg btn-primary btn-block" ng-click="applyEdition(image.id)" >Apply</a>
                </div>  
            </div>

        </div>
    </div>
</div>
