

<div class="panel panel-default" ng-controller="imageCtrl">
    <div class="panel-heading">
        Image Manager
    </div>
    <div class="panel-body">


        <div  class="btn-group btn-group-md" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="showCreateImageModal()">Create Image</button>
            <button type="button" class="btn btn-default">Download</button>
        </div>
        <p></p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Size</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="image in images">
                    <td>{{ image.name}}</td>
                    <td ng-if="image.status == 'queued'"><font color="red">{{ image.status}}</font></td>
                    <td ng-if="image.status != 'queued'"><font color="green">{{ image.status}}</font></td>

                    <td>{{ (image.size / 1048576).toFixed(2)}} MB</td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="edit(image)">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="deleteImage(image.id)">Remove</button>
                    </td>
                </tr>

            </tbody>
        </table>





    </div>
</div>
