<div class="panel panel-default" ng-controller="homeCtrl">
    <div class="panel-heading">
        Home 
    </div>
    <div class="panel-body">
        <div class="container-lg">
            <!-- Status bar -->
            <div class="row">
                <div class="col-md-12">
                    <div id="graphHolder"></div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ng-click="raiseShowMachineCreationEvent()">Create machine</button>
                </div>
            </div>
        </div>
    </div>
</div>
