<div class="modal" id="machineCreationModal" ng-controller="machineCreationCtrl" >
   
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>-->
                <h4 class="modal-title">Create Machine</h4>

            </div>
            <div class="modal-body">

                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Name</label>
                        <div class="col-sm-20">
                            <input type="text" value="" ng-model="name"/>
                        </div>
                    </div>

                    <fieldset class="form-group">
                        <label class="control-label col-sm-2">Image</label>
                        <select class="col-sm-20" id="ramSelected" ng-model="selectedImage">
                            <option ng-repeat="image in images" value="{{image.id}}">{{ image.name}}</option>
                        </select>
                    </fieldset>
                </form>


            </div>
            <div class="modal-footer"> 
                <div class="alert alert-danger text-center" role="alert" id="pleaseChooseAnImage"><b>Please choose an image !</b></div>
                <a href="#" ng-click="createMachine()" class="btn btn-primary">Create</a>
                <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </div>
</div>
